.app {
  min-height: 100vh;
  padding: 2rem;
}

.app h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  .app h1 {
    color: #213547;
  }
}
